{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner justify-content-center">
            <div class="carousel-item active">
              <img src="https://avengedsevenfold.com/app/uploads/2020/01/a7xkp1-1200x677.jpg" class="w-100 d-block" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5><strong>Avenged Sevenfold World Tour!</strong></h5>
                <p>Join these heavy metal legends on their UK leg of there biggest ever world tour!</p>
                <button class="btn my-auto btn-danger" ><p><strong>Buy Tickets</strong></p></button>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://diy-magazine.s3.amazonaws.com/d/diy/Artists/S/The-Streets/DIY-96/_landscape/376446/MIKESKINNER_5288_JF_Landscape.webp"
                class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>The Streets</h5>
                <p>The Streets have a very special one off show for you! You don't want to miss this one!</p>
                <button class="btn my-auto btn-danger" ><p><strong>Buy Tickets</strong></p></button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://exclaim.ca//images/spiritbox-lindsey-byrnes.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Spiritbox</h5>
                <p>Following the release of their much anticipated debut album, Eternal Blue, Spiritbox have come to tear up the UK</p>
                <button class="btn my-auto btn-danger" ><p><strong>Buy Tickets</strong></p></button>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}