{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}

<div class="header-container">

</div>

{% endblock %}

{% block content %}

<div class="overlay"></div>

<div class="col-10 offset-1 mt-2">
    <div class="row">
        <h1 class="text-danger text-center fjalla-font">Shopping Bag
            <hr>
        </h1>
        {% if bag_items %}
        <div class="col-md-5 col-10 offset-md-1">
            <h2 class="text-center mt-2 mx-auto fjalla-font text-danger">Contents</h2>
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 offset-1">
                    <img class="img-fluid bag-image my-4" src="{{ item.product.image.url }}" alt="">
                </div>
                <div class="col-8">
                    <h3 class="mt-4 fjalla-font">{{ item.product.name }}</h3>
                    {% if item.product.platform %}
                    <h5>
                        <small class="text-danger text-uppercase fjalla-font">Platform:</small>
                        {{ item.product.platform }}
                    </h5>
                    {% endif %}
                    {% if item.product.sizes %}
                    <h5>
                        <small class="text-danger text-uppercase fjalla-font">Size:</small> {{ item.size }}
                    </h5>
                    {% else %}
                    {% endif %}
                    <h5>
                        <small class="text-danger text-uppercase fjalla-font">Price:</small> £{{ item.product.price }}
                    </h5>
                    <form action="{% url 'adjust_bag' item.item_id %}" method="POST" class="form update-form">
                        {% csrf_token %}
                        <h5><small class="text-danger fjalla-font text-uppercase me-2">Qty: </small><input type="number"
                                name="quantity" class="qty_input" value="{{ item.quantity }}" min="0" max="99"
                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}"></h5>
                        <button class="border-0"><a class="update-link btn btn-success">Update</a></button>
                        <button class="border-0"><a class="btn btn-danger" data-item_id="{{ item.size }}"
                                href="{% url 'remove_from_bag' item.item_id %}">Remove</a></button>
                    </form>
                    <h5 class="mt-4">
                        <small class="text-danger text-uppercase fjalla-font">Subtotal:</small>
                        £{{ item.product.price | calc_subtotal:item.quantity }}
                    </h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-5 col-10 offset-md-1">
            <h2 class="text-center mt-2 fjalla-font text-danger">Checkout</h2>
            <h2 class="text-center mt-4"><strong class="fjalla-font text-danger">Delivery:</strong> £{{ delivery }}</h2>
            <h2 class="text-center"><strong class="fjalla-font text-danger">Grand Total:</strong>
                £{{ grand_total|floatformat:2 }}</h2>
            <a href="{% url 'products' %}" class="btn-dark btn btn-lg">Keep Shopping</a>
            <a href="{% url 'checkout' %}" class="btn-danger btn btn-lg text-white">Checkout!</a>
        </div>
        {% else %}
        <div class="col-12">
            <h4 class="shadows-font text-center"><strong>There is nothing in your bag!</strong>
                <br><a href="{% url 'products' %}" class="btn mt-2 fjalla-font btn-lg btn-dark">Keep Shopping?</a></h4>

        </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">



</script>

{% endblock %}