{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}

<div class="header-container">

</div>

{% endblock %}

{% block content %}

<div class="overlay"></div>

<div class="col-10 offset-1 mt-2">
    <div class="row">
        <h1 class="text-danger text-center fjalla-font">Shopping Bag
            <hr>
        </h1>
        {% if bag_items %}
        <div class="col-6">
            <h2 class="text-center mt-2 mx-auto fjalla-font text-danger">Contents</h2>
            {% for item in bag_items %}
            <div class="row">
                <div class="col-3 offset-1">
                    <img class="img-fluid bag-image my-4" src="{{ item.product.image.url }}" alt="">
                </div>
                <div class="col-8">
                    <h3 class="mt-4 fjalla-font">{{ item.product.name }}</h3>
                    {% if item.product.platform %}
                    <h5>
                        <small class="text-danger text-uppercase fjalla-font">Platform:</small>
                        {{ item.product.platform }}
                    </h5>
                    {% endif %}
                    {% if item.product.sizes %}
                    <h5>
                        <small class="text-danger text-uppercase fjalla-font">Size:</small> {{ item.size }}
                    </h5>
                    {% else %}
                    {% endif %}
                    <h5>
                        <small class="text-danger text-uppercase fjalla-font">Price:</small> £{{ item.product.price }}
                    </h5>
                    <h5>
                        <small class="text-danger text-uppercase fjalla-font">Qty:</small> {{ item.quantity }}
                    </h5>
                    <form action="" class="form update-form">
                        <div class="w-25 my-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn-dark decrement-qty btn rounded-0" data-item_id="{{ product.id }}"
                                        id="decrement-qty_{{ product.id }}">
                                        <span class="icon">
                                            <div class="fas fa-minus"></div>
                                        </span>
                                    </button>
                                </div>
                                <input type="number" name="quantity" class="qty_input form-control form-control-sm"
                                    value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                    id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="btn-danger increment-qty btn rounded-0"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span class="icon">
                                            <div class="fas fa-plus"></div>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5 class="bottom-0">
                        <small class="text-danger text-uppercase fjalla-font">Subtotal:</small>
                        £{{ item.product.price | calc_subtotal:item.quantity }}
                    </h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-6">
            <h2 class="text-center mt-2 fjalla-font text-danger">Checkout</h2>
            <a href="{% url 'products' %}" class="btn-dark btn btn-lg">Keep Shopping</a>
            <a href="" class="btn-danger btn btn-lg text-white">Checkout!</a>
        </div>
        {% else %}
        <div class="col-12">
            <h4 class="shadows-font text-center"><strong>There is nothing in your bag!</strong>
                <br><a href="{% url 'products' %}" class="btn mt-2 fjalla-font btn-lg btn-dark">Keep Shopping?</a></h4>

        </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}