{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="header-container">

</div>

{% endblock %}

{% block content %}

<div class="overlay"></div>

<div class="col-10 offset-1 mt-2">
    <div class="row">
        <h1 class="text-danger text-center fjalla-font">Shopping Bag
            <hr>
        </h1>
        {% if bag_items %}
        <div class="col-6">
            <h2 class="text-center mt-2 fjalla-font text-danger">Contents</h2>
            <div class="table-responsive"></div>
        </div>
        <div class="col-6">
            <h2 class="text-center mt-2 fjalla-font text-danger">Checkout</h2>
            <a href="" class="btn-dark btn btn-lg">Keep Shopping</a>
            <a href="" class="btn-danger btn btn-lg text-white">Checkout!</a>
        </div>
        {% else %}
        <div class="col-12">
                <h4 class="shadows-font text-center"><strong>There is nothing in your bag!</strong>
                    <br><a href="" class="btn mt-2 fjalla-font btn-lg btn-dark">Keep Shopping?</a></h4>
                
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}