{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="header-container">

</div>

{% endblock %}

{% block content %}

<div class="splash-img">
    <div class="row h-100">
        <div class="col-5 offset-1 col-md-4 text-center my-auto">
            <h1 class="fjalla-font text-light">
                Pre-Order God Of War: Raganarok Today
            </h1>
            <div>
                <a href="#" class="btn btn-lg btn-danger text-white">
                    Pre-Order
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center fjalla-font text-danger pt-4">
            <h1>Hot Offers!</h1>
            <hr>
        </div>
    </div>
</div>

{% endblock %}