{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load crispy_forms_tags %}

{% block page_header %}

<div class="header-container">

</div>

{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="col-md-10 offset-md-1 col-12">
    <div class="row">
        <h1 class="text-center mt-2 fjalla-font text-danger">
            Checkout
            <hr>
        </h1>
        <div class="col-md-6 col-12">
            <h2 class="text-center mt-4">
                Delivery/Payment Details
            </h2>
            <form action="">
                {% csrf_token %}
                <fieldset class="mt-4">
                    <legend class="text-center fjalla-font fieldset-label">Personal Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.mob_number | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend class="text-center fjalla-font fieldset-label">Delivery Details</legend>
                    {{ order_form.first_address_line | as_crispy_field }}
                    {{ order_form.second_address_line | as_crispy_field }}
                    {{ order_form.city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                      </div>
                      <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay now</span>
                      </button>
                      <div id="payment-message" class="hidden"></div>
                
                </fieldset>
            </form>
        </div>
        <div class="col-md-6 col-12">
            <h2 class="text-center mt-4">
                Bag Details
            </h2>
            {% if bag_items %}
            <div class="col-12">
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-3 offset-1">
                        <img class="img-fluid bag-image my-4" src="{{ item.product.image.url }}" alt="">
                    </div>
                    <div class="col-8">
                        <h3 class="mt-4 fjalla-font">{{ item.product.name }}</h3>
                        {% if item.product.platform %}
                        <h5>
                            <small class="text-danger text-uppercase fjalla-font">Platform:</small>
                            {{ item.product.platform }}
                        </h5>
                        {% endif %}
                        {% if item.product.sizes %}
                        <h5>
                            <small class="text-danger text-uppercase fjalla-font">Size:</small> {{ item.size }}
                        </h5>
                        {% else %}
                        {% endif %}
                        <h5>
                            <small class="text-danger text-uppercase fjalla-font">Price:</small>
                            £{{ item.product.price }}
                        </h5>
                        <h5>
                            <small class="text-danger text-uppercase fjalla-font">Qty:</small>
                            {{ item.quantity }}
                        </h5>
                        <h5 class="mt-5">
                            <small class="text-danger text-uppercase fjalla-font">Subtotal:</small>
                            £{{ item.product.price | calc_subtotal:item.quantity }}
                        </h5>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-12">
                <h2 class="text-center mt-5"><strong class="fjalla-font text-danger">Delivery:</strong>
                    £{{ delivery }}</h2>
                <h2 class="text-center"><strong class="fjalla-font text-danger">Grand Total:</strong>
                    £{{ grand_total|floatformat:2 }}</h2>
                <a href="{% url 'products' %}" class="btn-dark btn btn-lg">Keep Shopping</a>
                <a href="{% url 'checkout' %}" class="btn-danger btn btn-lg text-white">Checkout!</a>
            </div>
            {% else %}
            <div class="col-12">
                <h4 class="shadows-font text-center"><strong>There is nothing in your bag!</strong>
                    <br><a href="{% url 'products' %}" class="btn mt-2 fjalla-font btn-lg btn-dark">Keep
                        Shopping?</a></h4>

            </div>
            {% endif %}
        </div>
        </h2>
    </div>
</div>
</div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}