/* Webwide styling */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.fjalla-font {
    font-family: 'Fjalla One', sans-serif;
}

.shadows-font {
    font-family: 'Shadows Into Light', cursive;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Basket Button */

.basket-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Home Page Container */

.splash-img {
    background: url('/media/GodOfWar_Banner.jpg') no-repeat center center;
    background-size: cover;
    height: 75vh;
    width: 100%;
}

/* Header Container */

.header-container {
    padding-top: 225px;
}

/* Overlay */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* Media Quries */

@media (max-width: 991px)  {
    .header-container {
        padding-top: 50px;
    }
}