<nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-flex py-2">
    <div class="container-fluid justify-content-center">
        <div class="justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if user.is_superuser %}
                <li class="nav-item px-4">
                    <a class="nav-link text-dark shadows-font" href="{% url 'products' %}">
                        <h2><strong>All Products</strong></h2>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown px-4">
                    <a class="nav-link text-dark shadows-font" href="#" id="music_id" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <h2><strong>Music</strong></h2>
                    </a>
                    <div class="dropdown-menu text-dark" aria-labelledby="music_id">
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=music&sort=platform&direction=asc">By Platform</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=music&sort=rating&direction=asc">By
                            Rating</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=music&sort=genre&direction=asc">By
                            Genre</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=music">All Music</a>
                    </div>
                </li>
                <li class="nav-item dropdown px-4">
                    <a class="nav-link text-dark shadows-font" href="#" id="video_game_id" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <h2><strong>Video Games</strong></h2>
                    </a>
                    <div class="dropdown-menu text-dark" aria-labelledby="video_game_id">
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=video_games&sort=rating&direction=asc">By Rating</a>
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=video_games&sort=price&direction=asc">By Price</a>
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=video_games&sort=platform&direction=asc">By Platform</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=video_games">All Video Games</a>
                    </div>
                </li>
                <li class="nav-item dropdown px-4">
                    <a class="nav-link text-dark shadows-font" href="#" id="board_game_id" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <h2><strong>Board Games</strong></h2>
                    </a>
                    <div class="dropdown-menu text-dark" aria-labelledby="board_game_id">
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=board_games&sort=rating&direction=asc">By Rating</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=board_games">All Board Games</a>
                    </div>
                </li>
                <li class="nav-item dropdown px-4">
                    <a class="nav-link text-dark shadows-font" href="#" id="clothing_id" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <h2><strong>Clothing</strong></h2>
                    </a>
                    <div class="dropdown-menu text-dark" aria-labelledby="clothing_id">
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=clothing&sort=price&direction=asc">By Price</a>
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=clothing&sort=rating&direction=asc">By Rating</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=clothing">All Clothing</a>
                    </div>
                </li>
                <li class="nav-item dropdown px-4">
                    <a class="nav-link text-dark shadows-font" href="#" id="gadget_id" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <h2><strong>Gadgets</strong></h2>
                    </a>
                    <div class="dropdown-menu text-dark" aria-labelledby="gadget_id">
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=gadgets&sort=price&direction=asc">By Platform</a>
                        <a class="dropdown-item"
                            href="{% url 'products' %}?category=gadgets&sort=rating&direction=asc">By Rating</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=gadgets">All Gadgets</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</nav>