<nav class="navbar navbar-expand-lg navbar-light bg-white d-none d-lg-flex py-2">
    <div class="container-fluid justify-content-center">
        <div class="justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item px-4">
                    <a class="nav-link text-dark shadows-font" href="{% url 'products' %}">
                        <h2><strong>All Products</strong></h2>
                    </a>
                </li>
                <li class="nav-item dropdown px-4">
                    <a class="nav-link text-dark shadows-font" href="#" id="music_id" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <h2><strong>Music</strong></h2>
                    </a>
                    <div class="dropdown-menu text-dark" aria-labelledby="music_id">
                        <a class="dropdown-item" href="{% url 'products' %}?sort=platform&direction=asc">By Platform</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=asc">By Rating</a>
                        <a class="dropdown-item" href="{% url 'products' %}?sort=genre&direction=asc">By Genre</a>
                        <a class="dropdown-item" href="{% url 'products' %}?category=music">All Music</a>
                    </div>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link text-dark shadows-font" href="#">
                        <h2><strong>Clothing</strong></h2>
                    </a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link text-dark shadows-font" href="#">
                        <h2><strong>Video Games</strong></h2>
                    </a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link text-dark shadows-font" href="#">
                        <h2><strong>Board Games</strong></h2>
                    </a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link text-dark shadows-font" href="#">
                        <h2><strong>Technology</strong></h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>