<nav class="navbar navbar-light d-lg-none bg-white fixed-top">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="nav-link">
            <h1><strong class="fjalla-font text-uppercase text-danger">Just One More</strong></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-danger" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Options!</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <hr>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if user.is_superuser %}
                    <li class="nav-item px-4">
                        <a class="nav-link text-white " href="{% url 'products' %}">
                            <h5>All Products</h5>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white " href="#" id="music_id_mobile" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h5>Music</h5>
                        </a>
                        <div class="dropdown-menu text-white" aria-labelledby="music_id_mobile">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=music&sort=platform&direction=asc">By Platform</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=music&sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=music&sort=genre&direction=asc">By Genre</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=music">All Music</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white " href="#" id="video_game_id_mobile" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h5>Video Games</h5>
                        </a>
                        <div class="dropdown-menu text-white" aria-labelledby="video_game_id_mobile">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=video_games&sort=age_rating&direction=asc">By PEGI
                                Rating</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=video_games&sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=video_games&sort=platform&direction=asc">By
                                Platform</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=video_games">All Video
                                Games</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white " href="#" id="board_game_id_mobile" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h5>Board Games</h5>
                        </a>
                        <div class="dropdown-menu text-white" aria-labelledby="board_game_id_mobile">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=board_games&sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=board_games">All Board
                                Games</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white " href="#" id="clothing_id_mobile" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h5>Clothing</h5>
                        </a>
                        <div class="dropdown-menu text-white" aria-labelledby="clothing_id_mobile">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=clothing&sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=clothing">All Clothing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-white " href="#" id="gadget_id_mobile" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h5>Gadgets</h5>
                        </a>
                        <div class="dropdown-menu text-white" aria-labelledby="gadget_id_mobile">
                            <a class="dropdown-item" href="{% url 'products' %}?category=gadgets">All Gadgets</a>
                        </div>
                        <hr>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'profile' %}">My Account <i
                                class="fas fa-user fa-lg"></i></a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'add_product' %}" class="btn btn-light btn-sm my-auto">
                            <p class="my-0 fjalla-font"><i class="fas fa-plus fa-lg"> Account Management</i></p>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_logout' %}">Log Out <i
                                class="fas fa-sign-in-alt"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_login' %}">Login <i
                                class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_signup' %}">Register <i
                                class="fas fa-user fa-lg"></i></a>
                    </li>
                    {% endif %}
                </ul>
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control shadows-font border-bottom" type="text" name="q"
                            placeholder="Search video games, music, consoles....">
                        <div class="input-group-append">
                            <button class="form-control btn btn-dark rounded-circle" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</nav>