<nav class="navbar navbar-light d-lg-none bg-white fixed-top">
    <div class="container-fluid">
        <a href="{% url 'home' %}" class="nav-link">
            <h1><strong class="fjalla-font text-uppercase text-danger">Just One More</strong></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-danger" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Options!</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if user.is_superuser %}
                    <li class="nav-item px-4">
                        <a class="nav-link text-dark " href="{% url 'products' %}">
                            <h2><strong>All Products</strong></h2>
                        </a>
                    </li
                    {% endif %}
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link text-dark " href="#" id="music_id" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h2><strong>Music</strong></h2>
                        </a>
                        <div class="dropdown-menu text-dark" aria-labelledby="music_id">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=music&sort=platform&direction=asc">By Platform</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=music&sort=rating&direction=asc">By Rating</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=music&sort=genre&direction=asc">By Genre</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=music">All Music</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link text-dark " href="#" id="video_game_id" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h2><strong>Video Games</strong></h2>
                        </a>
                        <div class="dropdown-menu text-dark" aria-labelledby="video_game_id">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=video_games&sort=rating&direction=asc">By Rating</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=video_games&sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=video_games&sort=platform&direction=asc">By
                                Platform</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=video_games">All Video
                                Games</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link text-dark " href="#" id="board_game_id" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h2><strong>Board Games</strong></h2>
                        </a>
                        <div class="dropdown-menu text-dark" aria-labelledby="board_game_id">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=board_games&sort=rating&direction=asc">By Rating</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=board_games">All Board
                                Games</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link text-dark " href="#" id="clothing_id" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h2><strong>Clothing</strong></h2>
                        </a>
                        <div class="dropdown-menu text-dark" aria-labelledby="clothing_id">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=clothing&sort=price&direction=asc">By Price</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=clothing&sort=rating&direction=asc">By Rating</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=clothing">All Clothing</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link text-dark " href="#" id="gadget_id" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <h2><strong>Gadgets</strong></h2>
                        </a>
                        <div class="dropdown-menu text-dark" aria-labelledby="gadget_id">
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=gadgets&sort=price&direction=asc">By Platform</a>
                            <a class="dropdown-item"
                                href="{% url 'products' %}?category=gadgets&sort=rating&direction=asc">By Rating</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=gadgets">All Gadgets</a>
                        </div>
                    </li>
                    <hr>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'profile' %}">My Account <i
                                class="fas fa-user fa-lg"></i></a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'add_product' %}" class="btn btn-light btn-sm my-auto">
                            <p class="my-0 fjalla-font"><i class="fas fa-plus fa-lg"> Account Management</i></p>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_logout' %}">Log Out <i
                                class="fas fa-sign-in-alt"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_login' %}">Login <i
                                class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_signup' %}">Register <i
                                class="fas fa-user fa-lg"></i></a>
                    </li>
                    {% endif %}
                </ul>
                <hr>
                <form class="d-flex" methods="GET" action="{% url 'products' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light text-white" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>