{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-4 col-sm-10 h-50 offset-md-2">
            {% if product.image %}
            <a href="" class="mx-auto">
                <img src="{{ product.image.url }}" target="_blank" class="card-image-detail card-img-top"
                    alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="" class="mx-auto">
                <img src="{{ MEDIA_URL }}no-image.jpg" target="_blank" class="card-image-detail card-img-top"
                    alt="{{ product.name }}">
            </a>
            {% endif %}
        </div>
        <div class="col-md-5 col-sm-10">
            <h1 class="fjalla-font text-danger"><strong>{{ product.name }} {% if product.platform != null %}
                    ({{ product.platform }}){% endif %}</strong></h1>
            <p class="unstyled no-margin">{% if product.category.name == 'video_games' %}PEGI Rating:
                {{ product.age_rating }}{% elif product.category.name == 'board_games' %}For Ages:
                {{ product.age_rating }}{% elif product.category.name == 'music' %} Advisory:
                {{ product.age_rating }}{% else %}Age Rating: N/A{% endif %} | <a href="#" class="text-dark"><i
                        class="fas fa-tag"></i> {{ product.category.friendly_name }}</p>
            </a>
            {% if product.category.name == 'music' %}
            <small>Genre | {{ product.genre }}</small>
            <br>
            {% endif %}
            <small>Rating: {{ product.rating }} / 5</small>
            <hr>
            <h4>Price: <strong class="fjalla-font text-danger">£{{ product.price }}</strong></h4>
            <hr>
            <h3>Product Description:</h3>
            <p>{{ product.description }}</p>
            <div class="mt-4">
                <form action="" method="POST" class="form">
                    {% if product.category.name == 'clothing' and product.sizes %}
            <h4>Select a size</h4>
            <ul class="list-unstyled fjalla-font">
                <li class="list-inline-item">
                    <input type="radio" id="xs" name="sizes" value="XS">
                    <label for="xs">XS</label>
                </li>
                <li class="list-inline-item">
                    <input type="radio" id="s" name="sizes" value="S">
                    <label for="s">S</label>
                </li>
                <li class="list-inline-item">
                    <input type="radio" id="m" name="sizes" value="M">
                    <label for="m">M</label>
                </li>
                <li class="list-inline-item">
                    <input type="radio" id="l" name="sizes" value="L">
                    <label for="l">L</label>
                </li>
                <li class="list-inline-item">
                    <input type="radio" id="xl" name="sizes" value="XL">
                    <label for="xl">XL</label>
                </li>
            </ul>
            {% endif %}
                    <a href="#" class="btn btn-lg text-white btn-danger">
                        <strong>Add To Basket</strong>
                    </a>
                    <a href="{% url 'products' %}" class="btn btn-lg btn-dark text-white">
                        <strong>Keep Shopping</strong>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postload.js %}



{% endblock %}